@import "tailwindcss";

html {
  /* Forces the vertical scrollbar area to always exist, preventing width jumps */
  scrollbar-gutter: stable; 
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  /* Stops elements like your animated H2 from creating horizontal scroll */
  overflow-x: clip; 
}


@font-face {
  font-family: 'normal';
  src: url('./assets/fonts/Flex-Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.normal{
    font-family: normal;
}

* {
  cursor: none ;
}





@font-face {
  font-family: 'bold';
  src: url('./assets/fonts/Hagrid-Text-Extrabold-trial.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.bold1{
    font-family: bold;
}


@font-face {
  font-family: 'Heading';
  src: url('./assets/fonts/Hagrid-Regular-trial.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.bold{
    font-family: heading;
}

body{
  cursor: none;
}

@font-face {
  font-family: 'Priestacy';
  src: url('assets/fonts/priestacy.regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.s {
  font-family: 'Priestacy', cursive;
}

.no-mouse {
  pointer-events: none;
}
